@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  font-family: Raleway, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  padding: 10px;
  color: #363a43;
  background-color: #ffe000;
  text-align: center;
}

main {
  padding: 16px;
}

.form-group {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
  position: sticky; /* Makes the form sticky */
  top: 0; /* Sticks to the top of the viewport */
  z-index: 1; /* Ensures it's above other elements */
}

.form-group form {
  width: 100%;
  max-width: 400px; /* Ensures input matches the list's size */
}

input {
  font-family: Raleway, sans-serif;
  width: 100%;
  background: #f5f1ff;
  border: 2px solid black;
  border-radius: 15px;
  padding: 16px;
  font-size: 24px;
  box-sizing: border-box;
  margin: 8px 0;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1rem;
  max-width: 400px;
  margin: 0 auto;
}

.list > * {
  padding: 4px 8px;
  border: 1px solid #333;
  text-align: center;
}

.resident-item {
  border-radius: 8px;
}

footer {
  padding: 5px;
  color: #363a43;
  background-color: #ffe000;
  text-align: center;
}