@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  font-family: Raleway, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  padding: 10px;
  color: #363a43;
  background-color: #ffe000;
  text-align: center;
}

/*
  AppBar
*/
 
.app-bar {
  padding: 8px 16px;
  background-color: #ffe000;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 10px;
/*
  position: sticky;
  top: 0;
  z-index: 99;
*/
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
 
.app-bar .app-bar__menu {
  display: flex;
  align-items: center;
}
 
.app-bar .app-bar__menu button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  padding: 8px;
  cursor: pointer;
}
 
.app-bar .app-bar__brand {
  display: flex;
  align-items: center;
}
 
.app-bar .app-bar__brand h1 {
  color: #363a43;
  text-transform: uppercase;
  font-size: 22px;
  user-select: none;
}
 
.app-bar .app-bar__navigation {
  position: absolute;
  top: 50px;
  left: -180px;
  width: 150px;
  transition: all 0.3s;
  padding: 8px;
  background-color: white;
  overflow: hidden;
}
 
.app-bar .app-bar__navigation.open {
  left: 0;
}
 
.app-bar .app-bar__navigation ul li a {
  display: inline-block;
  text-decoration: none;
  color: black;
  padding: 8px;
  margin-bottom: 5px;
  width: 100%;
}

main {
  padding: 16px;
}

.form-group {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
  position: sticky; /* Makes the form sticky */
  top: 0; /* Sticks to the top of the viewport */
  z-index: 1; /* Ensures it's above other elements */
}

.form-group form {
  width: 100%;
  max-width: 400px; /* Ensures input matches the list's size */
}

input {
  font-family: Raleway, sans-serif;
  width: 100%;
  background: #f5f1ff;
  border: 2px solid black;
  border-radius: 15px;
  padding: 16px;
  font-size: 24px;
  box-sizing: border-box;
  margin: 8px 0;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1rem;
  max-width: 400px;
  margin: 0 auto;
}

.list > * {
  padding: 4px 8px;
  border: 1px solid #333;
  text-align: center;
}

.resident-item {
  border-radius: 8px;
}

footer {
  padding: 5px;
  color: #363a43;
  background-color: #ffe000;
  text-align: center;
}